@media screen and (max-width: 568px) { 
	html body {
	    background-color: #FCD2D2;
	}
	body section.card {
	    width: 95%;
	    border: none;
	    -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
	    padding: 0;
	}
}

body {
	font-family: Verdana,sans-serif;
    line-height: 1.5;		
    /*background-color: #4F0310;*/
    background-color: #D82053;
    padding: 0;
    margin: 0;	
}
section.container {
	position: absolute;
	height: 100%;
	width: 100%
}

section.center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

section.card {
    text-align: center;
    width: 75%;
    margin: auto;
    padding: 15px;
    background-color: #FCD2D2;
    border: solid 1px #e3e3e3;
    -webkit-box-shadow: 2px 2px 3px 0 rgba(227,227,227,1);
    -moz-box-shadow: 2px 2px 3px 0 rgba(227,227,227,1);
    box-shadow: 2px 2px 3px 0 rgba(227,227,227,1);    
}

h1, h2 {
	margin-top: 15px;
	margin-bottom: 15px
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2.0em;
}

h3, h5 {
	margin-top: 10px;
	margin-bottom: 10px
}

h3 {
	font-size: 1.5em;
}

h5 {
	font-size: 1.0em;
}

a {
	color: #D82053;
}

img {
	height: 50px;
}

img.top-left {
    position: absolute;
    top: 5px;
    left: 5px;	
}

img.top-right {
    position: absolute;
    top: 5px;
    right: 5px;	
}

img.bottom-left {
    position: absolute;
    bottom: 5px;
    left: 5px;	
}

img.bottom-right {
    position: absolute;
    bottom: 5px;
    right: 5px;	
}
